.bon
{

	width: 90%;
	margin-bottom: 20px;


}

.mov
{

	margin-left: 20px;
	
}


th
{

	font-size: 15px;
	background: orange;
	color: #000;
	border: 1px #000 solid;
	text-align: center;

}

td
{

	font-size: 15px;
	background: orange;
	color: #000;
	border: 1px #000 solid;
	text-align: center;

}

.rojo
{

	background: #F56554;

}

.naranja
{

	background: orange;

}

.verde
{

	background: #43D308;

}

.boton-2
{

	margin-bottom: 20px;

}

.busqu
{

	padding: 25px; 

}

.obj-btn
{

	margin-top: 20px;

}

.paginador ul
{

	padding: 15px;
	list-style: none;
	background: #fff;
	margin-top: 15px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;


}

.paginador a, .pageSelected
{

	color: #428bca;
	border: 1px solid #ddd;
	padding: 5px;
	display: inline-block;
	font-size: 14px;
	text-align: center;
	width: 50px;
	text-decoration: none;
	font-weight: 100px;

}

.paginador a:hover
{

	background: #ddd;


}

.pageSelected
{

	color: #fff;
	background: #428bca;
	border: 1px solid #428bca;

}


